--
-- PostgreSQL database dump
--

\restrict 4WJRtNTGhTeQ1dMhWL8CMDlhPYOy1TbkPO4RFrScUwR46qMI71cmh1iWMS4d7VL

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Name: pengajuan_kredit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pengajuan_kredit (
    id uuid NOT NULL,
    plafon numeric NOT NULL,
    bunga numeric(5,2) NOT NULL,
    tenor integer NOT NULL,
    angsuran numeric NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.pengajuan_kredit OWNER TO postgres;

--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260909091358_InitialCreate	8.0.11
20260909105821_UpdateDateTimeToTimestampWithTimeZone	8.0.11
20260909110315_FixTimestampWithTimeZone	8.0.11
\.


--
-- Data for Name: pengajuan_kredit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pengajuan_kredit (id, plafon, bunga, tenor, angsuran, created_at, updated_at) FROM stdin;
b13962b8-a52f-4518-8d5e-bea26533f4cd	100000000	12.00	60	2224444.77	2026-09-09 18:07:21.625462+07	2026-09-09 18:07:21.625463+07
\.


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: pengajuan_kredit PK_pengajuan_kredit; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengajuan_kredit
    ADD CONSTRAINT "PK_pengajuan_kredit" PRIMARY KEY (id);


--
-- Name: IX_pengajuan_kredit_plafon; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_pengajuan_kredit_plafon" ON public.pengajuan_kredit USING btree (plafon);


--
-- Name: IX_pengajuan_kredit_tenor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_pengajuan_kredit_tenor" ON public.pengajuan_kredit USING btree (tenor);


--
-- PostgreSQL database dump complete
--

\unrestrict 4WJRtNTGhTeQ1dMhWL8CMDlhPYOy1TbkPO4RFrScUwR46qMI71cmh1iWMS4d7VL

